* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-border: #5C5A58;
  --focus-header-color: #4C4A48;
  --taskbar-color: #252424;
}

.computer {
  width: 100vw;
  height: 100vh;
}

.computer .screen {
  width: 100vw;
  height: 100vh;
  display: none;
}

body {
  background-color: black;
  overflow: hidden;
}

.desktop {
  background-color: black;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app {
  background-color: white;
  position: absolute;
  border: 1px solid var(--app-border);
  box-shadow: 0 7px 15px -4px rgba(0,0,0,0.4);
}

.app .app-header {
  color: white;
  padding: 6.5px;
  font-family: sans-serif;
}

.app.focus .app-header {
  background-color: var(--focus-header-color);
  user-select: none;
}

.app .app-header > * {
  display: inline-block;
  pointer-events: none;
}

.app .app-icon {
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.app .app-title {
  font-size: .75em;
  vertical-align: text-top;
  user-select: none;
  font-weight: 100;
  letter-spacing: .5px;
}

/*
**  Notepad
*/

.notepad {
  width: 80%;
  height: 80%;
}
.notepad .app-icon {
  background-image: url(./assets/icons/notepad_dark.png);
}
.notepad .app-content {
  padding: 0 2px;
}