* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--app-border: #5C5A58;
	--focus-header-color: #4C4A48;
	--taskbar-color: #252424;
	--close-button-hover-color: #E81123;
	--close-button-active-color: #A92831;
	--shell-button-active-color: #706E6D;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 800px) {
  .app {
    display: none;
  }
}